#-------- IntelliJ project files ----#
/bin/
/build/
.idea/
*.ipr
*.iml
*.iws
# temp ignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp

#-------- Java template --------#
# Compiled class file
*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar

# eclipse ignore
/.settings/
.project
.classpath
.mymetadata

# system ignore
.DS_Store
Thumbs.db
/target/
netty-01-pure-bio/src/main/resources/
netty-01-pure-bio/src/test/
netty-01-pure-bio/target/
netty-02-nio-basic/src/main/resources/
netty-02-nio-basic/target/
netty-02-nio-buffer/
